*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:" poppins", sans-serif;
}
section{
    background-color: #4e0e8a;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div{
    width: 28em;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 300px auto;
    background-color: white;
    display: flex;
    align-items: center;
}
input{
    border: none;
    padding: 5px 200px  5px 0px;
    font-size: 14px;
    outline: none;
    letter-spacing: 0.075em;
}
img{
    width: 1.5em;
  height: 1.1em;
  background-color: white;
  margin-left: 5px;
  cursor: pointer;
}